.Table {
    border:  1px solid black;
    margin: 10px 10px;
    width: 167px;
    border-collapse: collapse;
    height: 150px;
}

.Table tr {
    margin : 20px 0px;
    border:  1px solid black;
}

.Table td {
    margin : 20px 0px;
    cursor: pointer;
    border:  1px solid black;
    text-align: center;
}

.Input {
    margin-left: 10px;
}

.DivAlign {
    margin-left: 540px;
    margin-top: 30px;
}